/**
 * Daniel Cobb
 * ASL - nmbley v2.0
 * 1-22-2017
 */

/*----- Bootstrap Changes -----*/
.navbar, .navbar-inverse{
    width:100%;
    border-radius:0;
    border:none;
    background: #629976;
    color:#fff;
    height:50px;
}
.navbar-nav{
    float:right;
    width:50%;
    margin:3px 0;
}
.navbar-nav > li{
    float:right;
    color:inherit;
}
.nav > li > a{
    padding:0;
    margin:10px 15px 10px 15px;
}
.navbar-inverse .navbar-nav>li>a{
    color:inherit;
    font-size:2em;
}
.navbar-header{
    float:none;
    width:10%;
    margin:0 1%;
    display:inline-block;
}

.btn-success{
    background:#629976;
    border-radius:3px;
    box-shadow: 2px 3px 5px rgba(0,0,0,.4);
    margin:0 auto;
}
.btn-success:hover{
    border:none;
}
.alert{
    margin-top:2%;
}
.row{
    max-width: 100%;
}
.alert:hover{
    cursor: pointer;
}
@media screen and (max-width:768px){
    .row, .article, form{
        float:none;
        margin:0 auto;
    }
    .navbar-nav{
        float:right;
        width:auto;
    }
}

/*----- Utility classes for Bootstrap -----*/
.no-padding{
    padding:0;
}
.center {
    text-align: center;
}
.push-15{
    padding-top:15%;
}
.small-link{
    color:#bbbbbc;
    font-size:8pt;
    text-decoration: underline;
}
.small-link-right{
    position: absolute;
    right:5%;
    bottom:5%;
}

.small-link[title="View Comments"]{
    position: absolute;
    right:40%;
    bottom:5%;
}
.small-link[title="Report"]{
    position: absolute;
    right:5%;
    bottom:5%;
}
.trim-padding{
    padding-right:0 !important;
}


/*----- Globals -----*/
html, body {
    background-color: #e8eaef;
    color: #333335;
    font-family: 'Open Sans', sans-serif;
    max-width: 100vw;
    height: 100vh;
    margin: 0;
    font-size:10pt;
}
h1, h2{
    font-family: 'Righteous', cursive;
    padding:0;
    margin:0 1%;
}
h3, h4{
    font-weight:800;
}
.create{
    text-decoration: underline;
}
.create:hover{
    cursor: pointer;
}
.sidebar h4:nth-of-type(2), .sidebar h4:nth-of-type(3), .sidebar h4:nth-of-type(4){
    margin-top:10%;
}
h1{
    display:inline-block;
}
.comment-form-reply h5, .mod-rep h5{
    color:#fff;
}
a{
    padding:0;
    margin:0;
    color:inherit;
}
form{
    width:96%;
    padding:2%;
    background:#fcfcfc;
    border-radius:5px;
    box-shadow:2px 3px 5px rgba(0,0,0,.4);
    position:relative;
    height:300px;
    text-align: center;
}
.cat-form{
    height:250px;
}
.comment-form, .comment-form-edit, .mod-rep{
    background:none;
    border-radius:0;
    box-shadow:none;
    width:100%;
    text-align: left;
    height:60px;
}
.comment-form-reply, .comment-form-edit, .mod-rep{
    width:50vw;
    height:25vh;
    margin:10% auto;
}

input[type="text"], textarea{
    width:96%;
    padding:1%;
    border-radius:5px;
    background:#fff;
    border:1px solid #d0d3d6;
    margin:auto;
}
.comment-form input[type="text"], .comment-form-edit input[type="text"], .mod-rep input[type="text"]{
    width:80%;
    margin:auto 2%;
}
input[type="file"]{
    width:96%;
    padding:1%;
    border-radius:5px;
    border:1px solid #d0d3d6;
    margin:auto;
}

textarea{
    resize:none;
    height:94.5px;
}
button[type="submit"]{
    background:#629976;
    border:none;
    height:50px;
    width:50px;
    border-radius:60%;
    box-shadow:2px 3px 5px rgba(0,0,0,.4);
    position: absolute;
    bottom:20px;
    right:5%;
    text-align: center;
    font-size:2em;
    color:#fff;
    transition-duration: 500ms;
}
button[type="submit"]:hover, .comment-form input[type="submit"]:hover, .comment-form-edit input[type="submit"]:hover, .mod-rep input[type="submit"]:hover{
    transform:scale(1.1);
}
.comment-form input[type="submit"], .comment-form-edit input[type="submit"], .mod-rep input[type="submit"]{
    background:#629976;
    border:none;
    box-shadow:2px 3px 5px rgba(0,0,0,.4);
    text-align: center;
    font-size:.8em;
    padding:1% 2%;
    border-radius:3px;
    color:#fff;
    transition-duration: 500ms;
}
/* used to create form button styles */
.button-round{
    border:none;
    height:50px;
    width:50px;
    border-radius:60%;
    box-shadow:2px 3px 5px rgba(0,0,0,.4);
    position: absolute;
    bottom:20px;
    text-align: center;
    font-size:2em;
    color:#fff;
    transition-duration: 500ms;
}
.button-round:hover{
    color:#fff;
    cursor: pointer;
    transform:scale(1.1);
}
.blue{
    background:#6988b7;
    left:4%;
}
.red{
    background:#b74c37;
    right:15%;
}


article{
    margin:2% auto;
    width:96%;
    padding:2%;
    background:#fcfcfc;
    border-radius:5px;
    box-shadow:2px 3px 5px rgba(0,0,0,.4);
    position: relative;
    overflow: hidden;
}
article > h5{
    font-size:14pt;
    font-weight:800;
}
article > h6{
    font-size:10pt;
    font-weight:700;
}
article > h6 a{
    text-decoration: underline;
}
article > img{
    margin:0 auto;
    display:block;
    max-width: 100%;
}

/*----- Welcome Page -----*/
#val-prop{
    padding:10% 2%;
}
#val-prop p{
    width:75%;
}
#val-prop h2{
    font-size:4em;
    margin:0;
}
#val-prop > .btn-lg{
    margin-top:2%;
}

/*----- Home Page -----*/
.myposts{
    text-decoration: underline;
}
#photo{
    display:none;
}
.feed{
    margin-top:10%;
}
.buttons{
    width:100%;
    padding:2% 0;
    position: relative;
}
article .button-action{
    border:none;
    height:50px;
    width:50px;
    border-radius:60%;
    box-shadow:2px 3px 5px rgba(0,0,0,.4);
    text-align: center;
    font-size:1.5em;
    color:#fff;
    transition-duration: 500ms;
    background:#629976;
    padding-top:10px;
    display:inline-block;
    margin-right:2%;
}
.button-action:hover{
    color:#fff;
    cursor: pointer;
    transform:scale(1.1);
}
article .blue-action{
    background:#6988b7;
}
article .orange-action{
    background:#dd9e4a;
}

.text-post{
    width:100%;
    padding:2%;
    background:#fcfcfc;
    border-radius:5px;
    box-shadow:2px 3px 5px rgba(0,0,0,.4);
}

.suggestions{
    display:none;
    text-align: center;
    text-transform: capitalize;
    font-size:.7em;
    width:30%;
    margin:0 auto;
    background:rgba(0,0,0,.1);
    border-radius:3px;
    padding:2px;
}
.suggestlink{
    display:block;
}

#end{
    display:none;
    width:90%;
    margin:2% auto;
    float:none;
    text-align: center;
}
#loading{
    text-align: center;
    display:none;
    font-size:1.5em;
    color:#BDC3C7;
    padding:5%;
}
.pagination{
    display:none;
    margin:5% auto;
}

/*----- Comments -----*/
.comments{
    display:none;
}
.comments h6{
    font-weight: 700;
    font-size:.75em;
    font-style: italic;
}
.add-comment{
    display:none;
}
.small-link-button{
    border:none;
    padding-bottom:0;
    background:transparent;
    color:#bbbbbc;
    font-size:8pt;
    text-decoration: underline;
}
.small-link[title="Edit Post"]{
    position: absolute;
    bottom:5%;
    right:20%;
}
.delete-form, .mod-delete{
    background:none;
    width:auto;
    display:inline-block;
    padding:0;
    height:auto;
    box-shadow:none;
}
.modal{
    width:100%;
    padding:0;
    position:fixed;
    top:0;
    bottom:0;
    z-index: 100;
    background:rgba(0,0,0,.5);
    height:100vh;
}

/*----- Post Edit Modal -----*/
.post-edit{
    display:none;
    height:100vh;
    width:100vw;
    background:rgba(0,0,0,.5);
}
.post-edit form{
    width:50%;
    height:350px;
    margin:10% auto;

}
@media screen and (max-width:520px){
    .post-edit form{
        width:90%;
    }
}
#editphoto, #edit-text{
    display:none;
}
.thumb{
    max-width:20%;
    margin:0 auto;
}
/*----- left side bar -----*/
#cat-search{
    background:none;
    height:50px;
    box-shadow:none;
    text-align: left;
    padding:0;
}
.cat-list{
    width:96%;
    padding:2%;
    height:300px;
}
.follow-link{
    text-transform:capitalize;
    display:block;
    text-decoration: underline;
}
.small-cat-form{
    box-shadow: none;
    display:none;
}
.alert{
    display:none;
    width:96%;
    padding:2%;
}


/*----- user options modal -----*/
.message-form{
    width:50%;
    margin:10% auto;
    position: relative;

}
@media screen and (max-width:520px){
    .message-form {
        width:90%;
    }
}

/*----- messages page -----*/
.read, .reply-btn, .del{
    border:none;
    border-radius:5px;
    box-shadow:2px 3px 5px rgba(0,0,0,.4);
    background:#6988b7;
    color:#fff;
    padding:1% 2%;
    transition-duration: 500ms;
    margin-right:5%;
}
.reply-btn{
    background:#629976;
}
.del{
    background:#b74c37;
}
.read:hover, .reply-btn:hover, .del:hover{
    transform:scale(1.1);
}
.actions{
    margin-top:5%;
    text-align: right;
}
.replies{
    margin:2% auto;
    display:none;
}


/*----- mod page -----*/

.mod-post img{
    max-width:50%;
}
.mod-post{
    position: relative;
    overflow: hidden;
}
.flagged::before{
    content:'Reported Post!';
    position: absolute;
    text-align: center;
    width:300px;
    height:30px;
    top:30px;
    right:-70px;
    transform: rotate(30deg);
    background:#b74c37;
    font-weight: 800;
    color:white;
    box-shadow:2px 3px 5px rgba(0,0,0,.4);

}
.admin::before{
    content:'Admin Post';
    position: absolute;
    text-align: left;
    width:20%;
    height:25px;
    padding:0 2%;
    top:0;
    right:0;
    background:#6988b7;
    font-weight: 800;
    color:white;
    box-shadow:2px 3px 5px rgba(0,0,0,.4);
}
.mod-actions{
    display:block;
    width:100%;
    margin:2% auto;
}
.mod-comment{
    position:relative;
}
.mod-post-form > .red{
    right:30%;
}
.mod-post-form{
    height:240px;
    margin-bottom:10%;
}
#mod-alert{
    display:none;
    margin:0 auto;
}
.btn-group > .btn-success{
    box-shadow: none;
}
#banned {
    display:block;
    text-align: center;
}
.mods{
    margin:2% 0;
}
/*----- media queries -----*/
@media screen and (max-width:1100px){
    .red{
        right:20%;
    }
}
@media screen and (max-width:520px){
    .small-link{
        position: relative;
    }
    .buttons{
        height:100px;
    }
    .small-link[title="View Comments"]{
        position: absolute;
        right:70%;
        bottom:5%;
    }
    .small-link[title="Report"]{
        position: absolute;
        right:5%;
        bottom:5%;
    }
    .comment-form-reply, .comment-form-edit{
        width:90%;
    }
}
